# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Node (if used)
node_modules/
